.aboutlist {
  grid-area: about;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.about {
  text-decoration: none;
  text-align: right;
  display: block;
  height: 270px;
  width: 270px;
  color: white;
  background-color: #005aee;
  border-radius: 8px;
}

.about div {
  padding: 30px;
}

.about h2 {
  margin: 0px;
  text-align: left;
  font-size: 16px;
  text-transform: uppercase;
}

.about p {
  padding-top: 15px;
  margin: 0px;
  text-align: left;
}

.aboutlogo {
  font-size: 70px;
  text-align: right;
  padding-bottom: 40px;
}
