@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");

body {
  background-color: #eaeaea;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  margin: 0 auto;
  max-width: 1280px;
  padding: 55px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas:
    ". . ."
    "about about about"
    "collections collections collections"
    ". . latestnews"
    "latestnews2 latestnews2 latestnews"
    ". . latestnews";
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
