@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");

body {
  background-color: #eaeaea;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1280px;
  padding: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 475px 275px 375px 475px 175px 175px;
  grid-template-areas:
    ". . ."
    "about about about"
    "collections collections collections"
    ". . latestnews"
    "latestnews2 latestnews2 latestnews"
    ". . latestnews";
  justify-content: space-between;
  gap: 25px;
}
